[Desktop Entry]
Encoding=UTF-8
Name=BITWIN24
Comment=BITWIN24 P2P Cryptocurrency
Comment[fr]=BITWIN24, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BITWIN24, eşten eşe kriptografik sanal para birimi
Exec=bitwin24-qt %u
Terminal=false
Type=Application
Icon=mag128
MimeType=x-scheme-handler/bitwin24;
Categories=Office;Finance;
